.input_main{
    grid-area:body
}

.default_input{
    padding:1rem;
    border-radius:0.2rem;
    outline: none;
   
}
.default_input::placeholder{
    font-size: 1rem;;
}

.default_input:focus::placeholder {
    color: transparent;
  }