
.rating_main{
    grid-area:body;
}

.rating>a>i{
    color:#ffb400;
   
}
.rating{
    font-size:2rem;
}
.rating>a>i:hover:before{
    content:"\f005";
  color:#ffb400;
  opacity:0.4;
}

@media screen and (max-width:441px){
    .content_block{
        display:grid;
        grid-template-columns: 1fr; 
        justify-items: center;
      }
  }


