


.navlist_main{
    width:100%;
    list-style: none;
}
.navlist_main>li{
    width:100%;
    margin-left:-20%;
    padding: 0.5rem;
}
/* .navlist_main>li>a:hover{
    color:white;
} */
.navlist_main>li:hover{
    /* background-color: #1976D2; */
    font-weight: bold;
   
   
}
.navlist_main>li>a:focus{
    font-weight: bold;
}
.navlist_main>li>a{
    font-size:1.5rem;
}

@media screen and (max-width: 768px) {
    .navlist_main{
            display:none;
    }
  }