.toast_main{
    width:100%;
    grid-area:body;
}

.toast{
    width: 250px;
    font-weight: bold;
    padding: 1.5rem;
    text-align: center;
    /* border: 2px solid black; */
    color:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 0.2rem;
    
}

.content_block{
    margin-bottom: 5%;
    padding:3rem 1rem 1rem 0;
}

.content_block>span{
   margin:0.5rem;
}

.t_error{
    background:#ef5350;
}

.t_warning{
    background:#ffee58;
    color:black;
}

.t_success{
    background:#4caf50;
}