 .sidenav::-webkit-scrollbar {
    width: 0px; /* wont show the scrollbar but will scroll*/
  }

.sidenav{
    width:200px;
    grid-area:sidenav;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    
    /* border-right:1px solid #000000; */
    margin-top:3%;
    top: 0; /* do not remove this*/
    bottom: 0;/* do not remove this*/
  /* mix position:fixed;overflow-y:scroll; and bottom:10px to fix and scroll element */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

@media screen and (max-width:441px){
  /* .hamburger_main{
      display:none
  } */
  .sidenav{
      display:none
  }
}