@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.text_utilites{
    grid-area:body;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:441px){
    .content_block{
        display:grid;
        grid-template-columns: 1fr; 
        justify-items: center;
      }
  }