@media screen and (max-width:441px){
    .snippet-main{
        margin-top:5%;
        width:100vw;
        border:0;
        transform: scale(1);
       
    }
}
@media screen and (min-width:441px){
    .snippet-main{
        position: relative;
        width: 85%;
        border:0;
        transform: scale(1);
        margin-top:5%;
       
    }
}