.content-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 7fr;
}

@media screen and (max-width:441px) {
    .content-block {
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
    }
}

.circle {
    border-radius: 50%;
    padding: 1rem;
}

.circle-small {
    width: 70px;
}

.circle-medium {
    width: 90px;
}

.circle-large {
    width: 110px;
}