.avatar{
    display:grid;
    grid-area:body;
    /* justify-self:center; */
    /* border:2px solid red; */
}

.content_block{
    display:inline;
    
}
.circle{
    border-radius:50%;
    padding:1rem;
}
.circle_small{
    width:3.125rem;
}

.circle_medium{
    width:4.37rem;
}

.circle_large{
    width:5rem;
}

