a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-areas: 'sidenav body body ';
}

@media screen and (max-width:441px){

  .App{
    display: grid;
    grid-template-areas: 
    'header'
    'body ';
  }
}

.sidenav{
  grid-area:sidenav;
}

.home{
  overflow: hidden;
  grid-area:body;
}

.common{
  grid-area:body;
  width:70%;
  margin-left:2%;

}

.home>div>img{
  width:800px;
}

