a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-areas: 'sidenav body ';
}

.sidenav{
  grid-area:sidenav;
}

.home{
  overflow: hidden;
  grid-area:body;
}

.avatar{
  grid-area:body;
  width: 80%;
}

.home>div>img{
  width:800px;
}

