a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-areas: 'sidenav body ';
  grid-template-columns: 20% 70%;
}

@media screen and (max-width:441px){

  .App{
    display: grid;
    /* grid-template-rows: 80px 1fr 30px; */
    grid-template-areas: 
    'header'
    'body';
    grid-template-columns: 100% 100%;
    overflow: hidden;
  }
  .home{
    width:100% !important;
  
  }
  .home>div>img{
    width:200px !important;
  }

}

.sidenav{
  grid-area:sidenav;
}

.home{
  width:100%;
  grid-area:body;
}

.common{
  grid-area:body;
  width:100%;
}

.home>div>img{
  width:400px;
}

