.image_main{
    display: grid;
    grid-area:body;
    width: 70%;
}

.content_block>img{
    margin-left:1rem;
    margin-bottom: 1rem;
}

.img_small{
    width: 12.5rem;
}


.img_card{
    border-radius: 0.5rem;
}

.img_circle{
    border-radius: 50%;
}

.img_thumbnail{
   width: 12.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.313rem;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}